<a href="https://colab.research.google.com/github/ailab-nda/NLP/blob/main/%E6%83%85%E5%A0%B1%E8%AA%8D%E8%AD%98%E8%AB%962021_%E8%A7%A3%E7%AD%94%E3%81%82%E3%82%8A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 情報認識論試験問題

以下の問題について解答し、結果を提出してください。なお、解答については文章はテキストセルに、プログラムに関してはコードセルに記入すること。また、結果の提出については、この画面の左上の「ファイル」メニュー内にある「ダウンロード」->「.ipynbをダウンロード」で自分のマシンにダウンロードできるので、それを各自の学内メールに添付してください。

#1. ニューラルネット

(1) ニューラルネットを学習させる際に用いられる「誤差逆伝播法」について説明せよ。

【解答欄】

(2) 誤差逆伝播法では、微分操作が必要となる。以下のネットワークを考える。

- 入力層：$x = (x_1, x_2, ..., x_i, ..., x_n)$
- 第１層：$y = x + 2$
- 第２層：$z = y \odot y \times 3$ (注：$\odot$ はアダマール積（成分ごとの積）)
- 出力層：$out = mean(z)$ （$z_i$の平均値）

このとき、出力値に対する入力値の微分
$\frac{\partial}{\partial x_{i}}out$ を計算せよ。

【解答欄】
$$ \frac{\partial}{\partial x_{i}}out = \frac{3}{2}(x_i + 2) $$

(3) $x = (1, 2, 3, 4)$ となった時の、$\frac{\partial}{\partial x}out$ を求めよ。

【解答欄】
$$
(\frac{\partial}{\partial x_1}out, \frac{\partial}{\partial x_2}out, \frac{\partial}{\partial x_3}out, \frac{\partial}{\partial x_4}out) = (9/2, 12/2, 15/2, 18/2) = (4.5, 6, 7.5, 9)
$$

# 2. Pytorch

(1) 本講義では、ニューラルネットの実装に Pytorch を用いたが、そこで用いられる基本的なデータ構造に「テンソル」がある。テンソルとはどのようなもので、ニューラルネットにおいてはどのように使われるかを説明せよ。

【解答欄】

(2) 2 x 2 のリスト [[1, 2], [3, 4]] からテンソルを作り、x という変数に代入せよ。

（ヒント：テンソルの作成には、torch.Tensor() を用いる）

In [ ]:
import torch

l = [[1, 2], [3, 4]]         # ここにリストを書く
print("list: ", l)

x = torch.Tensor(l)         # ここでテンソルに変換
print("x: ", x)

list:  [[1, 2], [3, 4]]
x:  tensor([[1., 2.],
        [3., 4.]])

Pytorch には微分を自動で行なってくれるため、上記の誤差逆伝播法が簡単に実行できる。そのためには、テンソルの requires_grad 属性を True にしておく必要がある。

In [ ]:
x.requires_grad = True # これはそのまま実行してください。

(3) 問１でのネットワークをテンソル x を用いて構築せよ。

In [ ]:
y = x + 2# ここを自分で埋める
z = y * y * 3# ここも自分で埋める埋める
out = z.mean() # ここも自分で埋める

(4) backword()関数を用いて、out に対する x の微分値を求めよ。

In [ ]:
out.backward() # これで逆伝播を行う
x.grad # x の grad 属性に微分値が格納される

tensor([[4.5000, 6.0000],
        [7.5000, 9.0000]])

# 3. Pytorch を用いた実例

### ブランド（Brand）, 型（Style）, 生産国（Country）から美味しさ（Stars）を予測する。

前置きが長いです。問題は一番下にあります。

In [ ]:
# ライブラリのインポート
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
 
# PyTorchのインポート
import torch 
import torch.nn as nn
 
# 評価指標（Scikit-learn）
from sklearn.metrics import mean_squared_error

データの取得（ラーメンデータベース）

In [ ]:
!curl https://raw.githubusercontent.com/ailab-nda/NLP/main/ramen-ratings.csv > ramen-ratings.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  154k  100  154k    0     0   844k      0 --:--:-- --:--:-- --:--:--  844k

ダウンロードしたデータの読み込み

In [ ]:
ramen = pd.read_csv('ramen-ratings.csv')

###データの確認
（最初の5行を表示）

In [ ]:
ramen.head()

   Review #           Brand  ... Stars Top Ten
0      2580       New Touch  ...  3.75     NaN
1      2579        Just Way  ...     1     NaN
2      2578          Nissin  ...  2.25     NaN
3      2577         Wei Lih  ...  2.75     NaN
4      2576  Ching's Secret  ...  3.75     NaN

[5 rows x 7 columns]

データのサイズ確認

In [ ]:
ramen.shape

(2580, 7)

ラーメンの国別登録数の確認

In [ ]:
ramen['Country'].value_counts()[0:10]

Japan          352
USA            323
South Korea    309
Taiwan         224
Thailand       191
China          169
Malaysia       156
Hong Kong      137
Indonesia      126
Singapore      109
Name: Country, dtype: int64

未評価（Unrated）のラーメンを除外

In [ ]:
mask = ramen.index[ramen['Stars'] == 'Unrated']
ramen = ramen.drop(index = mask)
ramen = ramen.reset_index(drop=True)
ramen.shape

(2577, 7)

データの変換

In [ ]:
# Starsのデータ型を確認
print(ramen['Stars'].dtype)
 
# float型へ変換
ramen['Stars'] = ramen['Stars'].astype(float)
 
# 改めてデータ型を確認
print(ramen['Stars'].dtype)

object
float64

不要な列の削除

In [ ]:
ramen = ramen.drop(columns=['Review #', 'Top Ten', 'Variety'])
ramen.head()

            Brand Style Country  Stars
0       New Touch   Cup   Japan   3.75
1        Just Way  Pack  Taiwan   1.00
2          Nissin   Cup     USA   2.25
3         Wei Lih  Pack  Taiwan   2.75
4  Ching's Secret  Pack   India   3.75

特徴量のダミー変数化

In [ ]:
Country = pd.get_dummies(ramen['Country'], prefix='Country', drop_first=True)
Brand = pd.get_dummies(ramen['Brand'], prefix='Brand',drop_first=True)
Style = pd.get_dummies(ramen['Style'], prefix='Style',drop_first=True)
 
# ダミー変数化した特徴量を結合
ramendf = pd.concat([Country, Brand,Style], axis=1)
 
# 確認
ramendf.head()

   Country_Bangladesh  Country_Brazil  ...  Style_Pack  Style_Tray
0                   0               0  ...           0           0
1                   0               0  ...           1           0
2                   0               0  ...           0           0
3                   0               0  ...           1           0
4                   0               0  ...           1           0

[5 rows x 397 columns]

データを特徴量とターゲットへ分割

In [ ]:
X = np.array(ramendf, dtype=np.float32) 
y = np.array(ramen[['Stars']], dtype=np.float32)

## モデルの作成

In [ ]:
# モデル
model = nn.Linear(397, 1)

# 損失関数
loss = nn.MSELoss()
 
# 最適化関数
optimizer = torch.optim.SGD(model.parameters(), lr=0.6)

モデルの学習

In [ ]:
for epoch in range(1000):
    # ステージ1 Numpy配列からテンソルへ変換
    inputs = torch.from_numpy(X)
    targets = torch.from_numpy(y)

    # ステージ2 推測値を出力して誤差（コスト）を算出
    outputs = model(inputs)
    cost = loss(outputs, targets)
    # ステージ3 誤差逆伝播（バックプロパゲーション）
    optimizer.zero_grad()
    cost.backward()
    optimizer.step()
    # ステージ4 50回毎にコストを表示
    if (epoch+1) % 100 == 0:
        print('Epoch [{}/{}], Loss: {:.4f}'.format(epoch+1, 1000, cost.item()))

Epoch [100/1000], Loss: 0.7753
Epoch [200/1000], Loss: 0.7268
Epoch [300/1000], Loss: 0.6980
Epoch [400/1000], Loss: 0.6781
Epoch [500/1000], Loss: 0.6634
Epoch [600/1000], Loss: 0.6519
Epoch [700/1000], Loss: 0.6426
Epoch [800/1000], Loss: 0.6349
Epoch [900/1000], Loss: 0.6284
Epoch [1000/1000], Loss: 0.6228

予測値の出力

In [ ]:
y_pred = model(torch.from_numpy(X)).data.numpy()

#最初の５つを確認
print(y_pred[0:5])
print(y[0:5])

[[4.111941 ]
 [2.9364026]
 [3.4577096]
 [3.4201987]
 [3.6928964]]
[[3.75]
 [1.  ]
 [2.25]
 [2.75]
 [3.75]]

予測の平均二乗誤差を確認

In [ ]:
mean_squared_error(y, y_pred)

0.62279326

## 問題
メーカー：日清、タイプ：カップ麺、生産国：日本、という製品を作った場合、レーティングは何点と予測されるか？

In [ ]:
rdf = ramendf[(ramendf['Country_Thailand'] == 1) & (ramendf['Brand_Nissin'] == 1) & (ramendf['Style_Pack'] == 1)]
X1 = np.array(rdf, dtype=np.float32) 
model(torch.from_numpy(X1)).data.numpy()